---
# Main scss file
---
@charset "utf-8";

@import
  'normalize',
  'solo',
  'syntax';

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-webkit-keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}
@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

.first {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-animation: fadeOut 1s ease 2s forwards;
     -moz-animation: fadeOut 1s ease 2s forwards;
          animation: fadeOut 1s ease 2s forwards;
}

.second {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-animation: fadeIn 1s ease 3s forwards;
     -moz-animation: fadeIn 1s ease 3s forwards;
          animation: fadeIn 1s ease 3s forwards;
}

.container {
  position: relative;
}
