---
# Main scss file
---
@charset "utf-8";

@import
  'normalize',
  'solo',
  'syntax';

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-webkit-keyframes fadeOut {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fadeOut {
  from {opacity: 0;}
  to {opacity: 1;}
}

.first {
  -webkit-animation: fadeOut 1s ease;
  -webkit-animation-delay: 2s;
  animation: fadeOut 1s ease;
  animation-delay: 2s;
  position: absolute;
  top: 0;
  left: 0;
}

.second {
  opacity: 0;
  -webkit-animation: fadeIn 1s ease;
  -webkit-animation-delay: 3s;
  animation: fadeIn 1s ease;
  animation-delay: 3s;
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  position: relative;
}
